*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: analogist;
}

@font-face {
font-family: analogist;
src: url(./analogist/Analogist.otf);
}

.container{
border: 5px solid darkgoldenrod;
width: 400px;
background: rgb(0, 0, 0, 0.44);
padding: 20px 30px;
border-radius: 10%;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
height: auto;
justify-content: center;
align-items: center;
text-align: center;
background: white;
}

.container h2{
font-size: 30px;
font-weight: 800;
text-align: center;
}

.container form p{
font-size: 25px;
margin-bottom: 8px;
}

.container form input{
height: 40px;
width: 100%;
border-radius: 5px;
font-size: 25px;
color: tomato;
background: transparent;
border: 2px solid darkgray;
text-align: center;
transition: all 0.5s ease;
}

.container form input:hover{
border: 2px solid crimson;
}

.container form input:focus{
padding: 0 14px;
border: 1px solid blue;
}

.container form .convert-box{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
margin-top: 15px;
}

.container form .from, .container form .to{
width: 100%;
}

.container .convert-box .select-input{
display: flex;
width: 100%;
border: 1px solid crimson;
height: 35px;
align-items: center;
border-radius: 10px;
padding:  0 20px;
background: transparent;
cursor: grabbing;
transition: 0.5s ease all;
}

.container .convert-box .select-input:hover{
border: 1px solid black;
}

.container .convert-box .select-input img{
max-width: 40px;
}

.container .convert-box .select-input select{
width: 100%;
cursor: pointer;
font-size: 25px;
background: none;
margin: 0 -5px 0 5px;
color: white;
border: 1px solid tomato;
height: 33px;
}

.container .convert-box .select-input select option{
color: black;
}

.container .convert-box .reverse{
cursor: pointer;
margin-top: 30px;
font-size: 22px;
transform: rotate(90deg);
transition: 0.5s all ease;
margin-bottom: 20px;
}

.container .convert-box .reverse:hover{
color: crimson;
}

.container form.result{
font-size: 25px;
margin: 20px 0px 30px;
}

.result{
font-size: 20px;
margin-top: 20px;
}

.container form button{
width: 100%;
height: 35px;
color: darkgoldenrod;
background: aqua;
font-size: 20px;
cursor: pointer;
margin-top: 20px;
border-radius: 5px;
transition: 0.5s all ease;
}

.container form button:hover{
background: darkblue;
color: white;
}

body{
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
overflow: hidden;
}

body::before{
content: '';
position: absolute;
width: 120px;
height: 120px;
background-color: aqua;
left: 15%;
top: 20%;
filter: blur(150px);
}

body::after{
content: '';
position: absolute;
width: 120px;
height: 120px;
background-color: darkblue;
left: 80%;
top: 74%;
filter: blur(150px);
}